<div class="container form-container">
  <h2 class="mb-4">Add New Conge</h2>
  <form *ngIf="congeForm" [formGroup]="congeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="dateDebut">Date de début</label>
      <input type="date" class="form-control" id="dateDebut" formControlName="dateDebut" required>
      <div *ngIf="congeForm.get('dateDebut')?.invalid && congeForm.get('dateDebut')?.touched" class="text-danger">
        <div *ngIf="congeForm.get('dateDebut')?.errors?.['required']">Date de début is required</div>
    </div>
    <div class="form-group">
      <label for="dateFin">Date de fin</label>
      <input type="date" class="form-control" id="dateFin" formControlName="dateFin" required>
      <div *ngIf="congeForm.get('dateFin')?.invalid && congeForm.get('dateFin')?.touched" class="text-danger">
        <div *ngIf="congeForm.get('dateFin')?.errors?.['required']">Date de fin is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" formControlName="type" placeholder="Enter type" required>
      <div *ngIf="congeForm.get('type')?.invalid && congeForm.get('type')?.touched" class="text-danger">
        <div *ngIf="congeForm.get('type')?.errors?.['required']">Type is required</div>
      </div>
 </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" formControlName="description" placeholder="Enter description" required></textarea>
      <div *ngIf="congeForm.get('description')?.invalid && congeForm.get('description')?.touched" class="text-danger">
        <div *ngIf="congeForm.get('description')?.errors?.['required']">Description is required</div>
      </div>
     </div>
    <button type="submit" class="btn btn-submit">Submit</button>
</div>