
<div class="container">

  <div class="card login">
    <div class="card-body">
      <nav class="nav">
        <a class="nav-link active" href="#">Sign in</a>
        <a class="nav-link" href="/signup">Sign up</a>

      </nav>

      <div class="card-body">
        <h2 class="card-title">Login with your email</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <!-- Email input -->
          <mat-form-field class="form-group mb-3">
            <mat-label class="form-label" for="Email">
              <i class="me-3"><mat-icon>email</mat-icon></i> Email address
            </mat-label>
            <input
              matInput
              type="email"
              id="email"
              formControlName="email"
              [errorStateMatcher]="matcher"
              name="email"
              required
            />
            <mat-error
              *ngIf="email?.hasError('email') && !email?.hasError('required')"
            >Please enter a valid <strong>email</strong> address</mat-error
            >
            <mat-error *ngIf="email?.hasError('required')"
            >Email is <strong>required</strong></mat-error
            >
          </mat-form-field>

          <!-- Password input -->
          <mat-form-field class="form-group mb-3" appearance="fill">
            <mat-label class="form-label" for="password">
              <i class="me-3"><mat-icon>lock</mat-icon></i> Password
            </mat-label>
            <input
              matInput
              type="password"
              id="password"
              formControlName="password"
              [errorStateMatcher]="matcher"
              [type]="hide ? 'password' : 'text'"
              name="password"
              required
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error
              *ngIf="
            password?.hasError('minlength') && !password?.hasError('required')
          "
            >Password must have
              <strong>{{password?.errors?.['minlength'].requiredLength}}</strong>
              Letters, You have Submitted
              <strong>{{password?.errors?.['minlength'].actualLength}}</strong>
              Letters</mat-error
            >
            <mat-error *ngIf="password?.hasError('required')"
            >Password is <strong>required</strong></mat-error
            >
          </mat-form-field>
          <a routerLink="/resetEmail" style="color: red">Forget Password ?</a>

          <!-- Login Button -->
          <div class="text-center">
            <button mat-raised-button type="submit" color="warn">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
        </form>
        <button type="button" class="btn btn-link">Forgot password ?</button>
      </div>
    </div>
  </div>
</div>

