button{
    border-radius: 20px;
    margin: 5px;
}
mat-list-item{
   padding: 30px;
    margin: 10px;
}
h3 {
    color: #be0e7b;
    font-size: 20px; 
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}
.ajout{
margin-left: 59%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .card {
    flex: 0 0 calc(33.3333% - 10px); /* Adjust for spacing */
  }
  
  .list-card {
    width: 100%;
  }