<div style="text-align: center;">
<h2 class="feedback-title">Your Feedback matters ! </h2>
</div>
<div style="text-align: right;">
  <!-- Champ de recherche -->
  <input type="text" [(ngModel)]="searchTerm" (keyup)="applyFilters()" placeholder="Rechercher..." />
  <select (change)="filterType()" [(ngModel)]="searchType">
    <option value="PLEASED">Pleased</option>
    <option value="UNPLEASED">Unpleased</option>
  </select>
  <!-- Bouton de recherche -->
<!--  <button (click)="searchAndDisplay()">Rechercher</button>-->
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFeedbackModal">
  Ajouter feedback
</button>
<div *ngIf="filteredFeedback.length > 0">

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ID FEEDBACK</th>
      <th scope="col">LIBELLE</th>
      <th scope="col">DATE SOUMISSION</th>
      <th scope="col">DESCRIPTION</th>
      <th scope="col">TYPE FEEDBACK</th>
      <th scope="col">ACTIONS</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of filteredFeedback | paginate: { itemsPerPage: 6, currentPage: p }">
      <th scope="row">{{item.id}}</th>
      <td>{{item.libelle}}</td>
      <td>{{item.dateSoumission | date}}</td>
      <td>{{item.description}}</td>
      <td>{{item.typeFeedBack}}</td>
      <td>
        <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editFeedback(item)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="setPage($event)"></pagination-controls>

</div>
<!-- Tableau pour les données non filtrées et message avant la recherche -->
<div *ngIf="filteredFeedback.length === 0">
  <p>Aucun résultat trouvé.</p>
</div>














<!-- Modal for editing feedback -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifier un feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Formulaire pour modifier un feedback -->
      <form>
        <div class="modal-body">
          <label for="libelle" class="form-label">Libellé</label>
          <input type="text" class="form-control" id="libellec" [(ngModel)]="selectedFeedback.libelle" name="editLibelle" placeholder="Entrez le libellé">
          <label for="dateSoumission" class="form-label">Date de soumission</label>
          <input type="date" class="form-control" id="dateSoumission" [(ngModel)]="selectedFeedback.dateSoumission" name="editDateSoumission">
          <label for="typeFeedbacks" class="form-label">Type de Reclamation</label>
          <select class="form-select" id="typeFeedbacks" [(ngModel)]="selectedFeedback.typeFeedBack" name="typeFeedbacks">
            <option value="PLEASED">Satisfait</option>
            <option value="UNPLEASED">Insatisfait</option>
          </select>
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="descriptionc" [(ngModel)]="selectedFeedback.description" rows="3"  name="editDescription" placeholder="Entrez la description"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal for adding new feedback -->
<div class="modal fade" id="addFeedbackModal" tabindex="-1" aria-labelledby="addFeedbackModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFeedbackModalLabel">Ajouter un feedback</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Feedback creation form -->
        <form #feedbackForm="ngForm" (ngSubmit)="addNewFeedback()">
          <div class="mb-3">
            <label for="libelle" class="form-label">Libellé</label>
            <input type="text" class="form-control" id="libelle" [(ngModel)]="newFeedback.libelle" name="libelle" placeholder="Entrez le libellé" required>
            <div *ngIf="feedbackForm.controls['libelle'].invalid && (feedbackForm.controls['libelle'].dirty || feedbackForm.controls['libelle'].touched)" class="text-danger">
              Libellé est requis.
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" [(ngModel)]="newFeedback.description" name="description" rows="3" placeholder="Entrez la description" required></textarea>
            <div *ngIf="feedbackForm.controls['description'].invalid && (feedbackForm.controls['description'].dirty || feedbackForm.controls['description'].touched)" class="text-danger">
              Description est requise.
            </div>
          </div>
          <div class="mb-3">
            <label for="typeFeedback" class="form-label">Type de feedback</label>
            <select class="form-select" id="typeFeedback" [(ngModel)]="newFeedback.typeFeedBack" name="typeFeedBack" required>
              <option value="">Sélectionnez un type</option>
              <option value="PLEASED">Satisfait</option>
              <option value="UNPLEASED">Insatisfait</option>
            </select>
            <div *ngIf="feedbackForm.controls['typeFeedBack'].invalid && (feedbackForm.controls['typeFeedBack'].dirty || feedbackForm.controls['typeFeedBack'].touched)" class="text-danger">
              Type de feedback est requis.
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" [disabled]="feedbackForm.invalid">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
