<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .login {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 50px;
    }
    .container {
      margin-top: 10%;
    }
    .login-title {
      text-align: center;
      margin-bottom: 20px;
    }

    .login-form {
      margin-bottom: 20px;
    }

    .forgot-password {
      text-align: center;
    }

    .forgot-password a {
      color: darkblue !important;
    }
    button.btn.btn-danger.login-btn {
      background: darkblue;
    }
    .login-btn {
      width: 100%;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="card login">
    <div class="card-body">
      <h2 class="login-title">Sign up for a new account</h2>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email"><i class="me-3"><mat-icon>email</mat-icon></i> Email address</label>
          <input type="email" class="form-control" id="email" formControlName="email" required>
          <div *ngIf="form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)" class="text-danger">
            <div *ngIf="form.get('email')?.errors?.['required']">Email is required</div>
            <div *ngIf="form.get('email')?.errors?.['email']">Invalid email format: {{mail}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password"><i class="me-3"><mat-icon>lock</mat-icon></i> Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" required>
          <div *ngIf="form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)" class="text-danger">
            <div *ngIf="form.get('password')?.errors?.['required']">Password is required</div>
            <div *ngIf="form.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
            <div *ngIf="form.get('password')?.errors?.['pattern']">Password must contain at least one lowercase letter, one uppercase letter, one number, and one special character</div>
          </div>
        </div>
        <div class="form-group">
          <label for="nom"><i class="me-3"><mat-icon>account_circle</mat-icon></i>Name</label>
          <input type="text" class="form-control" id="nom" formControlName="nom" required>
          <div *ngIf="form.get('nom')?.invalid && (form.get('nom')?.dirty || form.get('nom')?.touched)" class="text-danger">
            <div *ngIf="form.get('nom')?.errors?.['required']">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="prenom"><i class="me-3"><mat-icon>account_circle</mat-icon></i>Lastname</label>
          <input type="text" class="form-control" id="prenom" formControlName="prenom" required>
          <div *ngIf="form.get('prenom')?.invalid && (form.get('prenom')?.dirty || form.get('prenom')?.touched)" class="text-danger">
            <div *ngIf="form.get('prenom')?.errors?.['required']">Lastname is required</div>
          </div>
        </div>

        <button type="submit" class="btn btn-danger login-btn">Sign up</button>
        Already have an account? Please <a href="login">Login</a>
      </form>

    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
