.container {
    width: 100%;
    margin: 20px auto ;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.Button-line {
    position: relative; /* Ensure the container is positioned */
    height: 40px;
    width: auto;

}

.Button-add {
    position: absolute;
    right: 30px;
    width: 60px;


}

.content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.delete{
    background-color: #e44e4e;
    margin-left: 5px;
}
